@media screen and (min-width:300PX) and (max-width:735PX) {
   .container .description-service .desc1 h1{
      font-size: 18PX;
      padding-left: 40PX;
      width: 80%;
      position: relative;
      text-align: left;
   }

   .container .description-service .desc1 P{
      padding-left: 40PX;
      margin: 10PX 0;
      width: 80%;
      font-size: 1rem;
   }

   .container .description-service .desc1 h2{
      margin: 10PX 0;
   }

   .container .description-service .desc2 h1{
      font-size: 18PX;
      padding-left: 40PX;
      width: 80%;
      position: relative;
      text-align: left;
   }

   .container .description-service .desc2 P{
      padding-left: 40PX;
      margin: 10PX 0;
      width: 80%;
      font-size: 12PX;
   }

   .container .description-service .desc2 .container-img .img1{
      width: 100%;
      height: 400PX;
      position: relative;
      background: url(ASSETS/IMG-20250304-WA0031.jpg) center/cover no-repeat;
   }

   .container .description-service .desc2 .container-img .img1 .para{
      position: absolute;
      background-color: var(--color1);
      width: 100%;
      padding: 20PX 0;
      bottom: -60%;
      right: unset;
      border-radius: 5PX;
      z-index: 3;
      box-shadow: 0 4PX 5PX #0000003e;
   }

   .container .description-service .desc2 .container-img .img2{
      margin-top: 240PX;
      width: 100%;
      height: 500PX;
      position: relative;
      background: url(ASSETS/IMG-20250304-WA0031.jpg) center/cover no-repeat;
   }

   .container .description-service .desc2 .container-img .img2 .para{
      position: absolute;
      background-color: var(--color1);
      width: 100%;
      padding: 20PX 0;
      bottom: -60%;
      left: unset;
      border-radius: 5PX;
      z-index: 3;
      box-shadow: 0 4PX 5PX #0000003e;
   }

   .container .nos-valeurs{
      /* position: relative; */
      margin-top: 270PX;
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .container .nos-valeurs .container-valeurs{
      width:100%;
      height: 100%;
      /* background-color: #5E6574; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20PX;
      margin: 20PX 0;
   }

   .container .nos-valeurs .container-valeurs .carte-valeur{
      height: 150PX;
      width: 300PX;
      border: 3PX solid salmon;
   }

   .container .nos-valeurs h1{
      text-align: left;
      width: 100%;
      padding-left: 40PX;
      position: relative;
      margin: 5PX 0;
      color: var(--color8);
      font-size: 18PX;
   }

   .container .nos-valeurs p{
      /* text-align: left; */
      width: 100%;
      padding-left: 40PX;
      font-size: 12PX;
   }
}