@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
   /* color:#00055a */
   --color1: #fff;
   --color2: #5E6574;
   --color3: #921745;
   --color4: #000;
   --color5: #141D26;
   --color6: #EEE;
   --color7: #EF52DF;
   --color8: #243447;
   --color9: #D9D9D9;
   --color10: #be840f;
   --color11: #640069;
   --color12: #941745;
}

body{
   height: 100VH;
   width: 100%;
   font-family: "Montserrat", serif;
}

main{
   background-color: var(--color5);
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.container-images{
   width: 95%;
   height: 95%;
   background-color: #243447a9;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 20PX;
   padding: 100PX;
   overflow-y: auto;
}

.container-images::-webkit-scrollbar{
   display: none;
}

.container-images .image{
   height: 450PX;
   width: 600PX;
   /* background-color: yellow; */
   transition: all .5S ease;
}

.container-images .image:hover{
   scale: 1.05;
   backdrop-filter: blur(4PX);

}

.container-images .image .image1{
   background: url(ASSETS/WhatsApp\ Image\ 2025-03-13\ à\ 15.48.07_3f9131e1.jpg) center/cover;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   border: 3PX solid var(--color10);
}
.container-images .image2{
   background: url(ASSETS/WhatsApp\ Image\ 2025-03-13\ à\ 15.48.07_53c97b02.jpg) center/cover;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   border: 3PX solid var(--color10);
}
.container-images  .image3{
   background: url(ASSETS/WhatsApp\ Image\ 2025-03-13\ à\ 15.48.08_58d5381e.jpg) center/cover;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   border: 3PX solid var(--color10);
}
.container-images .image4{
   background: url(ASSETS/WhatsApp\ Image\ 2025-03-13\ à\ 15.48.06_fd8ab7a8.jpg) center/cover;
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   border: 3PX solid var(--color10);
}

